<div class="row">
    <div *ngIf="images?.length>0; else noDisplayImages">
        <h3>Below is the list of images that have been captured:</h3>
<div class="images col-xs-12 col-sm-12 col-md-6 col-lg-4 clearfix" *ngFor="let img of images; let i=index">
    <img [src]="img.capturedPondImage"/>
    <p><strong>Image number:</strong> {{i+1}}</p>
<p><strong>Date image captured:</strong> {{ img.capturedTimestamp}}</p>
<p>&nbsp;</p>
</div>
</div>
<ng-template #noDisplayImages>
    <div class="alert alert-danger" role="alert">
        Unfortunately, there are currently no images to display. 
        Please capture images before you can review.
      </div>
</ng-template>
</div>