<h3>Image Capture App</h3>
<hr/>
<p>This is an image capture app which can be used to capture your pond images.</p>
<br/><p>It uses your device's camera, so please enable the camera settings to start using it.</p>
<br/>
<button class="btn btn-info" *ngIf="!isCameraOpened" (click)="openCamera()">
  Open Camera
</button>
<div class="video-container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <video
      #video
      id="video"
      [width]="WIDTH"
      [height]="HEIGHT"
      autoplay
    ></video>
  </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <canvas
      hidden
      [class.show]="isCaptured"
      [class.hide]="!isCaptured"
      #canvas
      id="canvas"
      [width]="WIDTH"
      [height]="HEIGHT"
    ></canvas>
    <p *ngIf="isCaptured">Date image captured: {{dateCaptured}}</p>

    <div class="snap-container">
      <button class="btn btn-primary" *ngIf="isCameraOpened && !isCaptured" (click)="capture()">
        Capture Image
      </button>
      <button class="btn btn-danger" *ngIf="isCaptured" (click)="reCaptureImage()">
        Recapture
      </button>
      <button class="btn btn-success" *ngIf="isCaptured" (click)="saveImage()">
        Save Image
      </button>      
    </div>
    </div>
  </div>
  </div>
  
    <div class="row">
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
      <div class="col-*-*"></div>
    </div>
    <div class="row">
  </div>